* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.proj{
  margin:3%;
}
.proj img{
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Smooth transition effect over 0.5 seconds */
}
.proj img:hover{
  transform: scale(1.1); /* Increases the size by 10% */
}
.section_title{
  margin-top: 1rem;
}
/*  project.css  */
.proj {
  border: 1px solid #0000001a;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 1.25rem;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
h2{
  text-align: center;
}

.back-btn-s {
  margin: 1% 0 0 0;
  background: #fff;
  color: black;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap:8px ;
}
.back-btn-s:hover{
  color: white;
  background-color: black;
}
#more1,#more2,#more3 {
  display: none;
}
@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.proj1 {
  display: none;
}

@media screen and (max-width: 768px) {
  .skills_title {
    font-weight: 400;
  }
  .proj{
    padding: 3%;
  }
  /* .contact-form{
    width: 21rem;
  } */
  .navbar div:not(:first-child) {
    display: none;
  }

  .proj1 {
    display: initial;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive div {
    float: none;
    display: block;
    text-align: left;
  }

  .header {
    width: 100%;
  }

  .name {
    max-width: 50%;
    padding: 0;
    max-width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social {
    flex-direction: row;
    column-gap: 80px;
  }

  h1 {
    font-size: 30px;
  }

  h1>span {
    font-size: 50px;
  }

  p {
    padding-top: 0.2rem;
    font-size: large;
    color: rgb(100, 122, 122);
    max-width: 100%;
  }

  .myimg {
    border-radius: 34px;
    width: 241px;
  }

  .name>div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .name>div>a {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 10rem;
    align-items: center;
    column-gap: .5rem;
  }

  kbd {
    font-size: medium;
    /* max-width: 106%; */
  }

  .home {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    flex-direction: column-reverse;
    padding: 0%;
  }

  .btn.scroll {
    display: none;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-bottom: 0rem;
    max-width: 100%;
  }

  .contact_container {
    display: flex;
    flex-direction: column;
  }

  .contact_card {
    width: 18rem;
  }

  .contact_content {
    width: 18rem;
  }


  .skills_container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .skills_content {
    padding: 1rem 2rem;
    width: 18rem;
  }

  .skills_name {
    font-size: .80rem;
  }

  .skills_box {
    column-gap: 2rem;
  }

  .skills_content span {
    font-size: 11px;
    color: grey;
  }

  .skills {
    margin-top: 0rem;
  }

  h4 {
    font-size: 18px;
  }

  .footer div {
    padding-top: 1.1rem;
    font-size: 15px;
  }

  .scrollup {
    display: none;
  }

  section {
    padding: 5rem 0 1rem;
  }

  .container>.social {
    padding-top: 2.5rem;
  }

  .about_container>.myimg2 {
    display: none;
  }

  .about_container {
    text-align: center;
  }


  .about_data {
    width: 88%;
  }

  pre {
    margin-top: 0;
    margin-bottom: 0rem;
    overflow: auto;
  }

  .btn {
    height: 3.5rem;
  }

  .section_title {
    font-size: 25px;
  }

  .section_subtitle {
    font-size: 15px;
  }

  .contact_title {
    padding-bottom: 1.5rem;
    font-size: 20px;
  }

  .qualification_data {
    font-size: 12px;
    width: 15rem;
  }

  .qualification_title {
    font-size: 20px;
  }

  .qualification_title {
    font-size: 20px;
    font-style: bold;
  }

  form {
    height: auto;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px;
    font-size: 13px;
  }

  .form-group textarea {
    resize: none;
    /* min-height: 101px; */
    min-height: 93px;
  }

  .submit-btn {
    font-size: .8rem;
    padding: 5%;
    border-radius: 1.2rem;
  }

  #contact_title {
    margin-top: 0%;
  }

  .center_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #0000001a;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  }
  .proj{
    width: unset;
  }
  .proj>h6 {
    font-size: 15px;
  }

  .proj>a {
    cursor: pointer;
  }

  .proj>p {
    font-size: 100%;
  }
}
